/* Reset */
input,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

/* Styling */
form {
  width: 500px;
  border: 2px solid hsl(202, 60%, 50%);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  margin-bottom: 5px;
}

label {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

input::placeholder {
  text-transform: capitalize;
}

input,
textarea {
  border: 1px solid var(--grey);
  border-radius: 3px;
  font-size: 1rem;
  padding: 5px;
}

textarea {
  width: 100%;
  resize: none;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.group:not(:last-child) {
  margin-bottom: 10px;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
