@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

:root {
  --grey: hsla(0, 0%, 37%, 1);
  --black: hsla(0, 0%, 20%, 1);
  --blue: hsla(201, 50%, 43%, 1);
  --dark-green: hsla(194, 63%, 27%, 1);
  --light-green: hsla(194, 30%, 62%, 1);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* default 10px */
}

body {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 27px;
  letter-spacing: 0.05em;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 0;
}

h4 {
  font-size: 9px;
  font-weight: 600;
  margin: 0;
}
